.news-frame {
    width: 1109px;
    max-width: 100%;
    margin: 40px auto;
    padding: 20px 0;
    background: white;
    box-sizing: border-box;
}

.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 0 0px;
}

.news-title {
    color: black;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin: 0;
}

.all-news-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3px 10px;
    border: 0.7px solid black;
    width: fit-content;
    cursor: pointer;
    margin: 0;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.all-news-button:hover {
    background-color: #f0f0f0;
}

.all-news-button span {
    color: black;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 45px;
}

.all-news-button svg {
    width: 20px;
    height: 20px;
}

.news-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 0px;
}

@media (max-width: 768px) {
    .news-frame {
        padding: 20px;
    }

    .news-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 0 20px;
    }

    .news-title {
        font-size: 30px;
    }

    .news-cards-container {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
}