.news-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-card img {
    width: 100%;
    height: 210px;
    border-radius: 20px;
    object-fit: cover;
}

.news-card h3 {
    color: black;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin: 0;
}

.news-card p {
    color: #454545;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 21.63px;
    margin: 0;
}

.news-card-date {
    color: #777;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 768px) {
    .news-card img {
        height: 180px;
    }
}