<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Логирование в файл -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/sanatorium.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %-5level | %thread | %logger{36} | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- Детальное логирование для контроллеров и сервисов -->
    <logger name="ru.naumen.sanatoriumproject.controllers" level="DEBUG"/>
    <logger name="ru.naumen.sanatoriumproject.services" level="DEBUG"/>
    <logger name="ru.naumen.sanatoriumproject.security" level="DEBUG"/>
</configuration>
